:root {
  --background: rgba(247, 248, 250, 1);
  --black: rgba(28, 28, 28, 1);
  --white: rgba(255, 255, 255, 1);
  --primary: rgba(63, 158, 55, 1);
  --grey: rgba(230, 230, 230, 1);
  --light-blue: rgba(251, 252, 254, 1);
  --blue: rgba(84, 110, 243, 1);
  --text-font-family: "Gilroy-Medium", Helvetica;
  --text-font-weight: 500;
  --text-font-size: 18px;
  --text-letter-spacing: 0px;
  --text-line-height: 120.00000476837158%;
  --text-font-style: normal;
}
